.admin .table td{
	vertical-align: middle;
}

form img{
	width:100%;
}
.table img {
	width: 100px;
}

.admin .input-group-prepend{
	width: 100% !important;
}

.admin .input-group-text{
	background:#fff !important;
	border:0px !important;
}

.cars_set .input-group-text{
	background: transparent !important;
}
.car-set-bg{
	
	padding-top: 15px;
	padding-bottom:15px; 
}

.cars_set .car-set-bg:last-child{
	border-bottom:0px;
}

.cars_set .car-set-bg:nth-child(2n){
	background: #eee;
}

#complect-edit .color-container  img{
	cursor:pointer;
}
#complect-edit .color-container input[type="checkbox"]{
	position:absolute;bottom:5px;right:5px;display:block;width:25px;height:25px;
}