.admin .table td{
	vertical-align: middle;
}

form img{
	width:100%;
}
.table img {
	width: 100px;
}

.input-group-prepend{
	width: 100%;
}

.input-group-text{
	background:#fff;
	border:0px;
}

.cars_set .input-group-text{
	background: transparent;
}
.car-set-bg{
	
	padding-top: 15px;
	padding-bottom:15px; 
}

.cars_set .car-set-bg:last-child{
	border-bottom:0px;
}

.cars_set .car-set-bg:nth-child(2n){
	background: #eee;
}