.cars-list img{
	width: 100%;
}

 .star{
	font-size: 3.5rem;
	display: inline-block;
	padding-bottom: 20px;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	transition: background .3s linear;
	line-height: 70px;
}

.star:hover{
	background: $rn_yellow;
}

.cars-list .star-block{
	width: 100%;
}
.cars-list .car-price{
	font-size: $font-medium;
}
.cars-list a{
	text-decoration: none;
	color: inherit;
}
