.company-block{
	position:relative;
	cursor:pointer;
}
.company-block:hover{
	border-color: #fc3 !important;
}
.company-title{
	font-size: $font-medium;
}
.comany-text{
	
}
.company-offer{
	font-family: $rn-bold;
}
.company-section{
	
}

.company-footer{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
}
.company-checkbox{
	color:#00e600;background:#fff;width:30px; height: 30px;position: absolute;right: 0px;bottom: 0px;display: flex; align-items:center;justify-content: center;
}
.company-block input{
	display:none;
}

.company-disabled{
	pointer-events: none;
	color: #bbb !important;
	border-color: #eee !important;
}

.border-bottom-dotted{
	border-bottom: 1px dashed #ddd;
}

.fixed-calc{
	position:fixed;top:55px;
}

.selected-company{
	background: #fffbdb;
	border-color: #fffbdb !important;
}