.header img{
	width:100%;
}
.header-top-links{
	background:#f2f2f2;
}
.header-top-links a{
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	color: #555;
	margin: 0 10px;
}
.header-info{
	font-family: $rn_bold;
}
.header-info .name, .header-info .phone{
	font-size:$font-medium;
}

.nav-menu .navbar{
	background: #fff;
}
body{
	font-family: $rn_light;
}